<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Oakland Oddities | Northeastern Oakland Podcast Club</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">Oakland Oddities</h1>
                <h2 class="subtitle">A Northeastern Oakland Podcast Club Project</h2>
            </div>
        </div>
    </section>

    <section class="section has-text-centered">
        <h2 class="subtitle"><a href="https://www.youtube.com/@NEUPodcastClub" target="_blank">Youtube Releases</a></h2>
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-half">
                    <div class="table-container">
                        <table class="table">
                            {% for video in videos %}
                            <tr>
                                <th><a href='https://www.youtube.com/watch?v={{video["id"]}}' target="_blank"><img
                                            src={{video["thumbnail"]}} /></a></th>
                                <th>{{video["title"]}}</th>
                                <th>{{video["desc"]}}</th>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section has-text-centered">
        <h2 class="subtitle"><a href="https://podcasters.spotify.com/pod/show/oaklandoddities" target="_blank">Spotify
                Releases</a></h2>
        <div class="container is-centered">
            <div class="columns is-centered">
                <div class="column is-three-fifths">
                    <div class="table-container">
                        <table class="table">
                            {% for podcast in podcasts %}
                            <tr>
                                <th><a href='{{podcast["link"]}}' target="_blank"><img src='{{podcast["image"]}}'
                                            width="50%" height="50%" /></a></th>
                                <th>{{podcast["title"]}} ({{podcast["time"]}})</th>
                                <th>{{podcast["description"]}}</th>
                                <th>
                                    <audio controls>
                                        <source src='{{podcast["preview"]}}' type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio>
                                </th>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section has-text-centered">
        <h2 class="subtitle">Website Podcast Uploads</h2>
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-half">
                    <div class="table-container">
                        <table class="table">
                            {% for file in files %}
                            <tr>
                                <th>{{file}}</th>
                                <th>
                                    <audio controls>
                                        <source src='/{{file}}' type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <center>
            <a class="button" href="/upload">Upload Files</button>
        </center>
    </section>
</body>

</html>